<p>Colaboradores asociados</p>

<form [formGroup]="form">
    <div formArrayName="collaborators">
        <div *ngFor="let collaborator of collaboratorsForm.controls; let i = index;">
            <div class="flex justify-content-between">
                <p>Colaborador {{i + 1}}</p>
                <p-button size="small" (click)="deleteCollaborator(i)" icon="pi pi-trash" severity="danger" />
            </div>
            <ng-container [formGroupName]="i">
                <div class="flex flex-column gap-2 mb-4">
                    <label for="name">Nombre del colaborador</label>
                    <input 
                        pInputText 
                        type="text"
                        formControlName="name" />
                </div>
                <div class="flex flex-column gap-2 mb-4">
                    <label for="age">Edad del colaborador</label>
                    <input 
                        pInputText 
                        type="number"
                        formControlName="age" />
                </div>

                <app-collaborator-skills [skills]="collaborator.get('skills')?.value"></app-collaborator-skills>
                
            </ng-container>
        </div>
    </div>
    <p-button size="small" (click)="addCollaborator()" label="Añadir colaborador" />

</form>
